body {
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}
.header_title {
    font-weight: 700;
    font-size: 1.2rem;
}

.header>p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.navmenu {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.btn {
    margin: 1rem .1rem 0 .1rem;
}

.btn:hover {        /*Цвет текста кнопки нав.меню*/
    color: rgb(233, 152, 30);
}


.row {
    justify-content: center;
}

.card {                         /*параметры для всех карточек*/
    background-repeat: no-repeat;
    max-width: 250px;
    height: 241px;
    position: relative;
    padding: 0;
    margin: .5rem;
    border: 2px black solid;
    border-radius: 0;
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
}

button {
    background-color: rgb(233, 152, 30);
    color: white;
}

.card2 {
    background-image: url("../img/card10..png");
}

.card3 {
    background-image: url("../img/card9..png");
}

.card4 {
    background-image: url("..//img/card8..png");
}

.card5 {
    background-image: url("../img/card11..png");
}

.card6 {
    background-image: url("../img/card7..png");
}

.card7 {
    background-image: url("../img/card6..png");
}

.card8 {
    background-image: url("../img/card5..png");
}

.card9 {
    background-image: url("../img/card4..png");
}

.card10 {
    background-image: url("../img/card3..png");
}

.card11 {
    background-image: url("../img/card2..png");
}

.card12 {
    background-image: url("../img/card1..png");
}


.card:hover {           /*Поворот карточки при наведении на нее*/
    transform: rotateY(180deg);
    transition: 1s;
    
}

.row > div:hover > .cardBack {  /*Обратная сторона карточки*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    filter: opacity(1);
}

.cardBack_content {
   
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
   transform: rotateY(-180deg);
   box-sizing: border-box;
}

.cardBack {
   
    filter: opacity(0); /*Прячем обратную сторону карточки до наведения на нее*/
    transition: 0.8s;
}
.cardBack_content-line {
    width: 5rem;
    border-bottom: 3px rgb(233, 152, 30) solid;
}

@media screen and (max-width: 576px) {   /*уменьшить шрифт при изменении размера экрана меньше 576рх*/
	html {
		font-size: 70%;
	}
}
