body {
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: verdana;
}
    
.container_card {
    background-color: aqua;
   
    
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    padding: 1rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
}

.card0 {
    background-image: url("..//img/1.jpeg");
}

.card1 {
    background-image: url("../img/2.jpeg");
}

.card2 {
    background-image: url("..//img/3.jpeg");
}

.card3 {
    background-image: url("..//img/4.jpeg");
}

.card4 {
    background-image: url("..//img/5.jpeg");
}

.card5 {
    background-image: url("..//img/6.jpeg");
}

.card6 {
    background-image: url("..//img/7.jpeg");
}

.card7 {
    background-image: url("..//img/8.jpeg");
}

.card8 {
    background-image: url("..//img/9.jpeg");
}

.card9 {
    background-image: url("..//img/10.jpeg");
}

.card10 {
    background-image: url("..//img/11.jpeg");
}


.container_card>div {
    height: 10rem;
    width: 50%;
    padding: 1rem;
 }

 .container_card>p {
     font-size: 1rem;
     width: 60%;
 }

 .container_card>p:nth-child(1) {
     font-size: 1.3rem;
     font-weight: 700;
 }