body {
    margin: 0 auto;
}

.container {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}
.circle {
 border-radius: 50%;
 }

.circleContainer {
    display: flex;
    flex-wrap: wrap;
}